@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background: rgb(245,246,123);
  background: linear-gradient(90deg, rgba(245,246,123,1) 0%, rgba(136,242,230,1) 100%);  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: 'Oswald', sans-serif;
}

full {
  height: 150vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.circle {
  border-radius: 50%;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}